<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo2.mapper.UserMapper">

    <resultMap type="User" id="UserResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
    </resultMap>

    <select id="selectUser" parameterType="String" resultMap="UserResult">
        select *
        from user
        <where>
            <if test="id != null and id != ''">AND ID = #{id}</if>
        </where>
    </select>

    <!-- 插入id字段，如果使用mybatis-plus的主键生成策略，此处mybatis-plus会生成主键值插入；否则，自动封装成null，由数据库插入数据时自动生成 -->
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user(id, name, age, sex)
        values (#{id}, #{name}, #{age}, #{sex})
    </insert>

    <!-- 不插入id字段，默认使用数据库自增主键 -->
    <insert id="insertUser1" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user(name, age, sex)
        values (#{name}, #{age}, #{sex})
    </insert>

    <delete id="deleteUser" parameterType="String">
        delete
        from user
        where id = #{id}
    </delete>

    <update id="editUser" parameterType="User">
        update user
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="age != null">age = #{age}</if>
            <if test="sex != null and sex != ''">sex = #{sex}</if>
        </set>
        where id = #{id}
    </update>
</mapper>